<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col">
      <a class="navbar-brand text-white">SPORTS STORE</a>
    </div>
    <div class="col-auto py-1">
      <ss-cart-summary></ss-cart-summary>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <ss-category-selection></ss-category-selection>
    </div>
    <div class="col-9 p-2">
      <ss-product-list></ss-product-list>
<!--      <span *ssCounter="let page of five;let a = active" >[page: {{ page }}, active: {{a}}]</span>-->
    </div>
  </div>
</div>
